:root {
  --normal-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  --hover-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  --rounded-border: 10px;
}

a {
  text-decoration: none;
  text-transform: none;
}

.MuiBox-root button {
  text-transform: none;
}

#root {
  height: 100%;
}

.MuiBox-root .shadow,
.shadow {
  box-shadow: var(--normal-shadow);
  box-sizing: border-box;
}

.MuiBox-root .rounded,
.rounded {
  border-radius: 12px;
}

.MuiBox-root .clickable,
.clickable {
  cursor: pointer;
  box-shadow: var(--normal-shadow);
}

.MuiBox-root .clickable:hover,
.clickable:hover {
  box-shadow: var(--hover-shadow);
  transform: scale(1.01);
}

.scroll {
  overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.max-width {
  width: 100%;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
